nav{
    background-color: #007bff;
    clear: both;
    color: white;
    padding-left: 50px;
    padding-right: 50px;
}
nav a {
    color: white;
}
#login{
    background-color: rgba(255, 255, 255, 0.9);
    float: right;
    border: 1px #007bff solid;
    padding: 10px;
    margin: 10px;
    font-size: small;
    text-align: right;
}
header {
    background-image: url("img/082.jpg");
    background-position: center;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
}
.content {
    border: 1px black solid;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 10%;
    padding-right: 10%;
}
.btn {
    background-color: white;
}
::placeholder {
    font-family: "Trebuchet MS", Verdana, sans-serif;
    color: #cccccc;
}
input:focus {
    border-color: #bfc8d0;
    background-color: #eff7ff;
}
.row{
    margin-top: 20px;
}
.list-group-item.list-group-item-action {
    margin-top: 5px;
}
.list-group-item.list-group-item-action:hover {
    background-color: #eff7ff;
}
p {
    text-align: justify;
}
section {
    display: flex;
}
article {
    display: block;
    border: black 1px solid;
    padding: 10px;
}
aside {
    display: none;
    visibility: collapse;
    width: 60%;
    border: black 1px solid;
    padding: 10px;
}
.navbar.fixes-bottom {
    width: 80%;
    margin: auto;
}
.container {
    min-width: 50px;
}

